<!DOCTYPE html>
<html>
<head>
    <title>添加员工</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>添加员工</h1>
        <form method="post">
            姓名: <input type="text" name="name"><br>
            备注: <input type="text" name="note"><br>
            <input type="submit" value="添加员工">
        </form>
        <a href="{{ url_for('index') }}">返回</a>
    </div>
</body>
</html>
